<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" type="text/css">
    <title>Apex Legends Lore</title>
</head>
<body>
    <header>
        <nav class="text-shadow  red darken-4">
            <div class="nav-wrapper">
              <a href="#" class="brand-logo title">Apex Legends Lore</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{url_for('get_legends')}}">Legends</a></li>
                <li><a href="{{url_for('get_maps')}}">Maps</a></li>
                <li><a href="{{url_for('log_in')}}">Log in</a></li>
                <li><a href="{{url_for('register')}}">Register</a></li>
              </ul>
            </div>
          </nav>

          <nav class="red darken-4">
            <div class="nav-wrapper">
              <form>
                <div class="input-field">
                  <input id="search" type="search" required>
                  <label class="label-icon" for="search"><i class="fas fa-search"></i></label>
                </div>
              </form>
            </div>
          </nav>
    </header>
   
    <section>
      <!--flash messages displayed here-->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="row">
              <h4 class="flash-txt">{{ message }}</h4>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </section>
    
    <main>
    {% block content %}
    {% endblock %}
    </main>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>