{% extends "base.html" %}
{% block content %}
    
    <h3 class="center-align reg-head text-shadow">Welcome to Apex Legends Lore!</h3>

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel red darken-4 white-text text-shadow center-align">
                <p>
                    Do you play EA and Respawn Entertainments Apex Legends game? <br> OR 
                    <br> Do you want to learn more about it? <br> <br> Then you have come to the right place!
                </p>
            </div>   
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p class="center-align white-text">
                Already have an Account?
                <a href="{{url_for('log_in')}}" class="white-text"> <em>Log in Here!</em></a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p class="center-align white-text">
                No Account?
                <a href="{{url_for('register')}}" class="white-text"> <em>Register Here!</em></a>
            </p>
        </div>
    </div>

{% endblock %}