{% extends "base.html" %}
{% block content %}
    
    <h3 class="center-align reg-head text-shadow">Log-in</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{url_for('log_in')}}">
            <div class="card-panel red darken-4">
                <!--username input-->
                <div class="row">
                    <div class="input-field col s12 reg-text text-shadow">
                        <i class="fas fa-user-cog prefix reg-icon"></i>
                        <input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5-15}$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!--password input-->
                <div class="row">
                    <div class="input-field col s12 reg-text text-shadow">
                        <i class="fas fa-lock prefix reg-icon"></i>
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5-15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!--login button-->
                <div class="row">
                    <button type="submit" class="col s12 btn text-shadow grey darken-4">
                        Log-in
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--Register page link-->
    <div class="row">
        <div class="col-12">
            <p class="center-align white-text">
                No Account?
                <a href="{{url_for('register')}}" class="white-text"> <em>Register Here!</em></a>
            </p>
        </div>
    </div>

{% endblock %}