{% extends "base.html" %}
{% block content %}
    
    <h3 class="center-align reg-head text-shadow">Register</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{url_for('register')}}">
            <div class="card-panel red darken-4">
                 <!--email input-->
                <div class="row">
                    <div class="input-field col s12 reg-text text-shadow">
                        <i class="fas fa-at prefix reg-icon"></i>
                        <input id="email" name="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                 <!--username input-->
                <div class="row">
                    <div class="input-field col s12 reg-text text-shadow">
                        <i class="fas fa-user-plus prefix reg-icon"></i>
                        <input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5-15}$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                 <!--password input-->
                <div class="row">
                    <div class="input-field col s12 reg-text text-shadow">
                        <i class="fas fa-key prefix reg-icon"></i>
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5-15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                 <!--register button-->
                <div class="row">
                    <button type="submit" class="col s12 btn text-shadow grey darken-4">
                        Register
                    </button>
                </div>
            </div>
        </form>
    </div>
     <!--login page link-->
    <div class="row">
        <div class="col-12">
            <p class="center-align white-text">
                Already have an Account?
                <a href="{{url_for('log_in')}}" class="white-text"> <em>Log in Here!</em></a>
            </p>
        </div>
    </div>

{% endblock %}